%h1  Welcome to my app
Please login.  If you are not currently signed into Twitter, you will be redirected to Twitter.  After you have signed in with Twitter, you will be redirected to this website.
=button_to "Login", :action => "new", :controller => "sessions"
