%h1  Welcome to My Mass Twitter-Follow/Unfollow App
Please login, which will use twitter authentication.  If you are not currently signed into Twitter, you will be redirected to Twitter.  After you have signed in with Twitter, you will be redirected to
this website.  You will be able to 1) do a mass unfollow and 2) search twitter usernames and tweets and do a mass follow.
=button_to "Login", :action => "new", :controller => "sessions"
